/* styles.css */
#small-screen-message {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #f5c6cb;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    #small-screen-message {
        display: block;
    }
}
